# requirements.txt

# Core de Machine Learning y Deep Learning
tensorflow
scikit-learn

# Manipulación y Análisis de Datos
pandas
numpy

# Visualización de Datos
matplotlib
seaborn

# Interfaz Web
streamlit

# Herramientas de Conectividad y Utilidades
pyngrok
gspread
google-auth-oauthlib
pillow-heif
pytz
ipywidgets